# Maven
target/
*.log

# NetBeans
nbproject/private/
nbproject/project.properties
build/
dist/
nb-configuration.xml

# OS files
.DS_Store
Thumbs.db
._*

# Java
*.class
*.jar
*.war
*.ear


# Documentación generada
site/
_build/
documentacion_tecnica.pdf

# Docker
.docker/

